
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>TheSinemma | Contact: TheSinemma</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="#"><img src="~/web/images/logo yeni.jpg" alt="" /></a></div>
            <div class="con-right">


                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Default/Index">Ana Sayfa</a></li>
                <li><a class="hsubs" href="/About/Index/">Hakkımızda</a></li>
                <li>
                    <a class="hsubs" href="/About/Index/">Rehber</a>
                    <ul class="subs">
                        <li><a href="/About/Index/">Hakkımızda</a></li>
                    </ul>
                </li>
                <li><a class="hsubs" href="/Blog/Index/">Blogum</a></li>
                <li><a href="/Contact/Index/">İletişim</a></li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişim Formu</h3>
                <p> Lütfen İletişime Geçiniz</p>
            </div>
            <form method="post">
                <div class="form">
                    <div>
                        <input type="text" class="textbox" name="AdSoyad" placeholder="Ad ve Soyad">
                    </div>
                    <div>
                        <input type="text" class="textbox" name="Mail" placeholder="E-mail Adresi">
                    </div>
                    <div>
                        <input type="text" class="textbox" name="Konu" placeholder="Konu">
                    </div>
                    <div>
                        <button type="submit" class="read">
                            Gönder
                        </button>
                    </div>
                </div>
                <div class="form1">
                    <div>
                        <textarea value="Message:" name="Mesaj" placeholder="Mesaj"></textarea>
                    </div>
                </div>
            </form>

            <div class="form1">
                <form1 method="post">

            </div>
            <form />
        </div>
        <div class="clear"></div>
        <div class="contact-bottom">
            <div class="contact-left">
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2013 Easy-Trip. All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>

